/*
body {
  margin: 0;
  padding: 250px;
  font-family: $font-family-space;
  background-color: $bg-color;
}

.uoc-logo {
  display: block;
  margin-bottom: 20px;
  max-width: 300px;
  height: auto;
}

.uoc-title {
  font-family: $font-family-serif;
  font-size: 36px;
  font-weight: 700;
  color: $uoc-corporate;
}

*/

body,
footer {
  margin: 0;
  background-color: $bg-color;
  font-family: $font-family-space;
  font-size: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  
  @media (min-width: $mediaLarge) {
    background-image: url("/assets/images/bg-desktop.jpg");
    background-size: cover;
  }
}

.header--margins {
  padding: 0 30px;
}

.nav__list {
  display: flex;
}

.nav__item {
  list-style: none;
  padding-right: 10px;
}

.nav__link--style {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .85rem;
}

.nav__link--style:hover {
  border-bottom: 1px solid #ff0;
}

.nav__icon {
  display: none;
}

/*

  @media (min-width: $mediaDesktops) {
    color: #f0f;
  }
}
*/
