
body,
footer {
  margin: 0;
  background-color: $bg-color;
  font-family: $font-family-space;
  font-size: 16px;
}

.header {
  height: 75vh;
  background-image: url("/assets/images/bg-desktop.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  & > .subtitle {
    max-width: 800px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: $bg-complementary;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 1% 10%;
    .subtitle__block {
      margin: 0 30px;
    }
  }

  @media (max-width: $mediaTablets) {
    max-width: 100%;
    height: auto;
    background-image: url("/assets/images/bg-mobile.jpg");
    background-size: cover;
    position: relative;
    & > .subtitle {
      display: flex;
      flex-direction: column;
      align-items: center;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      max-width: 100%;
      margin: 0;
      .subtitle__block {
        margin: 30px 0;
      }
    }
  }
}

.nav__menu {
  float: right;

  @media (max-width: $mediaTablets) {
    display: none;
  }
}

.nav__menu--display {
  @media (max-width: $mediaTablets) {
    display: block;
    width: 100%;
  }
  .nav__list {
    text-transform: uppercase;

    @media (max-width: $mediaTablets) {
      display: block;
      background-color: #fff;
      text-align: center;
      .nav__item {
        border-bottom: 1px solid #fff;
        &:hover {
          border-bottom: 1px solid #ff0;
        }
      }
    }
  }
}

.clearfix {
  clear: both;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__item {
  list-style: none;
}

.nav__link {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
}

.nav__link--style {
  text-transform: uppercase;
  &:hover {
    border-bottom: 1px solid $bg-complementary;
  }
}

.nav__icon {
  @media (min-width: $mediaTablets) {
    display: none;
  }

  @media (max-width: $mediaTablets) {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px;
    float: right;
    cursor: pointer;
  }
}

.nav__icon::before {
  @media (max-width: $mediaTablets) {
    font-family: $font-family-awesome;
    content: "\f0c9";
    font-weight: 900;
  }
}

.nav__icon,
.active::before {
  @media (max-width: $mediaTablets) {
    font-family: $font-family-awesome;
    content: "\f00d";
    font-weight: 900;
  }
}

/* cuerpo */
@keyframes bounceIn {
  0% {
    transform: scale(.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.subtitle {
  animation: bounceIn 2s;
}

.section {
  display: flex column;
  max-width: 1200px;
  margin: auto;
}

.header__section {
  display: flex;
  align-items: center;
  text-align: center;
}

.section__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__icon--size {
  font-size: 2rem;
  padding-right: 15px;
}

.img__avatar--rounded {
  width: 150px;
  height: 150px;
  border: 5px solid $bg-complementary;
  border-radius: 50%;
}

.section__skils {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.star--colorgray {
  color: $bg-third;
}

.star--color {
  color: $bg-complementary;
}

/* formulario */

.form__label {
  padding: 15px 15px 15px 0;
  display: inline-block;
}

.form__input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  resize: vertical;
}

.form__input[type=submit] {
  background-color: #000;
  color: #fff;
  margin: 15px 0 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
